/* line 620, /Users/jerry/Sites/1stRevenue_com/less/mixins.less */
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* line 7, /Users/jerry/Sites/1stRevenue_com/less/main.less */
h2 {
  color: #207178;
}
/* line 10, /Users/jerry/Sites/1stRevenue_com/less/main.less */
h4 {
  font-weight: 300;
}
/* line 14, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.btn-lg {
  font-size: 25px;
  padding: 15px 30px;
}
/* line 20, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.jumbotron {
  background: url(../images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 6 0px;
}
/* line 31, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.jumbotron h1 {
  font-size: 33px;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 1.6em;
}
/* line 42, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.row {
  margin-bottom: 50px;
  margin-top: 20px;
}
/* line 46, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.row .title {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 54, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices img {
  max-width: 100%;
  height: 200px;
}
@media (max-width: 768px) {
  /* line 60, /Users/jerry/Sites/1stRevenue_com/less/main.less */
  #devices .device.col-sm-push-1 {
    padding-bottom: 60px;
  }
}
/* line 72, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#features h3 {
  font-size: 30px;
}
/* line 76, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#features .icon {
  margin-bottom: 60px;
  height: 80px;
}
/* line 81, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#features .feature p {
  line-height: 2.2em;
}
/* line 89, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#nav-detail .detail {
  padding-top: 20px;
}
/* line 91, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#nav-detail .detail img {
  max-width: 300px;
  padding: 30px 0px;
}
/* line 103, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form {
  padding-top: 20px;
}
/* line 106, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form .form-group {
  position: relative;
  width: 30%;
}
@media (max-width: 768px) {
  /* line 110, /Users/jerry/Sites/1stRevenue_com/less/main.less */
  #signup form .form-group {
    width: 100%;
  }
}
/* line 115, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form .form-group input[placeholder] {
  font-size: 23px;
}
/* line 118, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form .form-group .form-control {
  height: 50px;
}
/* line 122, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form button {
  height: 50px;
  font-size: 20px;
}
/* line 130, /Users/jerry/Sites/1stRevenue_com/less/main.less */
footer .bottom-menu {
  margin-top: 60px;
}
/* line 133, /Users/jerry/Sites/1stRevenue_com/less/main.less */
footer .bottom-menu .contact {
  margin-bottom: 40px;
}
/* line 135, /Users/jerry/Sites/1stRevenue_com/less/main.less */
footer .bottom-menu .contact h4 {
  padding-bottom: 10px;
}
