/* line 620, /Users/jerry/Sites/1stRevenue_com/less/mixins.less */
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* line 7, /Users/jerry/Sites/1stRevenue_com/less/main.less */
h2 {
  color: #207178;
}
/* line 10, /Users/jerry/Sites/1stRevenue_com/less/main.less */
h4 {
  font-weight: 300;
}
/* line 14, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.btn-lg {
  font-size: 25px;
  padding: 15px 30px;
}
/* line 20, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.jumbotron {
  background: url(../images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 60px;
  margin-bottom: 0px;
}
/* line 32, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.jumbotron h1 {
  font-size: 33px;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 1.6em;
}
/* line 43, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.row {
  margin-bottom: 50px;
  margin-top: 20px;
}
/* line 47, /Users/jerry/Sites/1stRevenue_com/less/main.less */
.row .title {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 55, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices .device {
  cursor: pointer;
}
/* line 57, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices .device img {
  height: 400px;
}
@media (max-width: 1000px) {
  /* line 59, /Users/jerry/Sites/1stRevenue_com/less/main.less */
  #devices .device img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  /* line 67, /Users/jerry/Sites/1stRevenue_com/less/main.less */
  #devices .device .tablet img {
    padding-bottom: 60px;
  }
}
/* line 74, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices #tabletModal img {
  max-width: 100%;
  padding-top: 30px;
}
/* line 79, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices #desktopModal img {
  max-height: 600px;
}
/* line 83, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices #phoneModal img {
  max-height: 600px;
}
/* line 87, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices .modal-dialog {
  padding-top: 0px;
}
/* line 90, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices .modal-body {
  padding-top: 10px;
}
/* line 94, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#devices .close {
  font-size: 40px;
}
/* line 102, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#features h3 {
  font-size: 30px;
}
/* line 106, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#features .icon {
  margin-bottom: 40px;
  height: 80px;
}
/* line 111, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#features .feature p {
  line-height: 2.2em;
}
@media (max-width: 768px) {
  /* line 114, /Users/jerry/Sites/1stRevenue_com/less/main.less */
  #features .feature {
    margin-top: 60px;
  }
}
/* line 122, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#nav-detail .detail {
  padding-top: 20px;
}
/* line 124, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#nav-detail .detail img {
  max-width: 250px;
  padding: 30px 0px;
}
/* line 136, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form {
  padding-top: 20px;
}
/* line 139, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form .form-group {
  position: relative;
  width: 30%;
}
@media (max-width: 768px) {
  /* line 143, /Users/jerry/Sites/1stRevenue_com/less/main.less */
  #signup form .form-group {
    width: 100%;
  }
}
/* line 148, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form .form-group input[placeholder] {
  font-size: 23px;
}
/* line 151, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form .form-group .form-control {
  height: 50px;
}
/* line 155, /Users/jerry/Sites/1stRevenue_com/less/main.less */
#signup form button {
  height: 50px;
  font-size: 20px;
}
/* line 163, /Users/jerry/Sites/1stRevenue_com/less/main.less */
footer .bottom-menu {
  margin-top: 60px;
}
/* line 166, /Users/jerry/Sites/1stRevenue_com/less/main.less */
footer .bottom-menu .contact {
  margin-bottom: 40px;
}
/* line 168, /Users/jerry/Sites/1stRevenue_com/less/main.less */
footer .bottom-menu .contact h4 {
  padding-bottom: 10px;
}
